@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "lcarchive-dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --root-bg: #1b1d19;
  --color-base-100: #131512;
  --color-base-200: #1b1d19;
  --color-base-300: #232621;
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: #2d322a;
  --color-primary-content: #e6e3d5;
  --color-secondary: #3c4a3b;
  --color-secondary-content: #e6e3d5;
  --color-accent: #c9a86a;
  --color-accent-content: #1b1b1b;
  --color-neutral: #1a1c1a;
  --color-neutral-content: #e2dfd3;
  --color-info: #5f84a2;
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: #6a8f6e;
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: #c0a357;
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: #a15a4a;
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: "Work Sans", sans-serif;
  --color-siam-50: #f6f7f6;
  --color-siam-100: #e3e6e1;
  --color-siam-200: #c7cbc4;
  --color-siam-300: #a3aa9e;
  --color-siam-400: #7f8879;
  --color-siam-500: #646d5f;
  --color-siam-600: #4f564b;
  --color-siam-700: #41473e;
  --color-siam-800: #373b34;
  --color-siam-900: #2f332e;
  --color-siam-950: #191b18;

  --color-harvest-gold-50: #fbf9f1;
  --color-harvest-gold-100: #f6f1de;
  --color-harvest-gold-200: #ede0bb;
  --color-harvest-gold-300: #e1c990;
  --color-harvest-gold-400: #d3aa5f;
  --color-harvest-gold-500: #cb9544;
  --color-harvest-gold-600: #bd8039;
  --color-harvest-gold-700: #9d6531;
  --color-harvest-gold-800: #7e522e;
  --color-harvest-gold-900: #664428;
  --color-harvest-gold-950: #372213;
}
