<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png">

<title><%= typeof title !== 'undefined' ? title + ' | Lost City Archive' : 'Lost City Archive' %></title>

<link rel="stylesheet" href="/css/style.css">