<div class="flex flex-1 items-center gap-2 md:gap-8">
	<!-- Mobile menu -->
	<div class="dropdown md:hidden">
		<div tabindex="0" role="button" class="btn btn-ghost">
			<i data-lucide="menu" class="size-5"></i>
		</div>

		<ul tabindex="-1" class="menu menu-lg dropdown-content bg-base-100 text-harvest-gold-200 rounded-box z-1 mt-3 w-52 p-2 shadow">
			<%- include('_partial/navbar_items', { title }); %>
		</ul>
	</div>

	<!-- Logo -->
	<a href="/" class="flex flex-row items-center gap-4 w-fit group">
		<img src="/img/lc-logo-min.webp" alt="Lost City" class="h-10 block lg:hidden" />

		<img src="/img/lostcity-logo-min.webp" alt="" aria-hidden="true" class="h-12 hidden lg:block" />

		<span class="flex flex-row items-center gap-1 text-2xl">
			<i data-lucide="archive" class="text-siam-300 size-5" aria-hidden="true"></i>
			Archive
			<sup class="-ml-1 text-base font-semibold transform-[rotate(7deg)] group-hover:transform-[rotate(0deg)] transition-transform duration-150 text-siam-200 inline-block origin-center">
				<span class="inline-block transform scale-100 transition-transform duration-2000 group-hover:delay-3000 group-hover:scale-[6] origin-center">^2</span>
			</sup>
		</span>
	</a>

	<!-- Desktop menu -->
	<ul class="menu menu-horizontal hidden md:flex text-harvest-gold-200 text-base gap-1">
		<%- include('_partial/navbar_items', { title }); %>
	</ul>
</div>