<li>
  <a
    href="/"
    class="<%= title && title.toLowerCase().includes('cache')
      ? 'bg-white/20 md:bg-black/20 text-harvest-gold-400'
      : '' %>"
  >
    Caches
  </a>
</li>

<li>
  <a
    class="<%= title && title.toLowerCase().includes('client')
      ? 'bg-white/20 md:bg-black/20 text-harvest-gold-400'
      : '' %>"
  >
    Clients
  </a>
</li>

<li>
  <a>
    Sources
  </a>
</li>

<li>
  <a>
    Upload
  </a>
</li>

<li>
  <a
    href="/about"
    class="<%= title && title.toLowerCase().includes('about')
      ? 'bg-white/20 md:bg-black/20 text-harvest-gold-400'
      : '' %>"
  >
    About
  </a>
</li>
